services:
  # 1. Wrangler
  # docker-compose up wrangler
  wrangler:
    build:
      context: .
      target: wrangler-container
    volumes:
      - .:/app
      - /app/node_modules
    ports:
      - "8787:8787"
    environment:
      - NODE_ENV=development
    stdin_open: true
    tty: true

  # 2. Node
  node-dev:
    build:
      context: .
      target: node-container
    volumes:
      - .:/app
      - /app/node_modules
    environment:
      - NODE_ENV=development

  # 3. Gemini
  # docker-compose up -d gemini
  # docker-compose exec gemini gemini
  gemini:
    build:
      context: .
      target: gemini-container
    volumes:
      - .:/app
      - /app/node_modules
      - ~/.config/gcloud:/root/.config/gcloud # Persistent Auth
    environment:
      - NODE_ENV=development
      - GOOGLE_GENAI_USE_GCA=1
    stdin_open: true
    tty: true
    # Profiles allow you to start this only when needed
    profiles: ["tools"]