name: Fast Tests

on:
  push:
    branches-ignore:
      - main
      - prod
  workflow_dispatch:

jobs:
  test-fast:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: '20'
          cache: 'npm'
      - run: npm ci
      - run: npm run test:fast:node
      - run: npm run test:fast:wrangler
